@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h3 class="text-primary">Customers</h3>
    <hr />

    <table id="customerDatatable" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Date Of Birth</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>


<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/CustomerDatatable.js"></script>


}